doctype html
html(lang="es")
	head
		meta(charset="utf-8")
		title Perspective Layout
		meta(name="description", content="3D perspective layout testing.")
		meta(name="author", content="Alejandro H Tadino M")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel='stylesheet' href='css/main.css')
		script(src="js/jquery.min.js")
	body
		.p-container.perspective
			.card.card-1
			.card.card-2
			.card.card-3
			.card.card-4

		//- Scripts ----------------------------------------
		script(src="js/functions.js")